<!doctype html>
<html lang="en">

<head>
    <title>Los pros</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="resources/css/style.css">
</head>

<body>
    <h1>Pagina de inicio</h1>
    <div class="login-box">
        <h1>Login</h1>
        <h2>El usuario conectado es: <%= msg%>
        </h2>
</body>

</html>